{% extends 'base.html' %}
{%block head %} 
    
{% endblock %}

{%block body %} 
    <div class="content" style="text-align: center; background-color: yellow;">
        <h2>Update your tasks here</h2>
        
        <div style="margin-top: 15px">
            <form action="/update/{{task.id}}" method="POST">
                <input type="text" name="content" id="content" value="{{task.content}}">
                <input type="submit" value="Update Task">
            </form>
        </div>
        
    </div>
{% endblock %} 